<?xml version="1.0"?>
<launch>
  <arg name="debug" default="true" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <include file="$(find car_nodes)/complete_car_simulation.launch">
    <arg name="debug" value="$(arg debug)" />
  </include>

  <node pkg="car_nodes"
        type="can_ids.py"
        name="can_ids"
        output="screen" />

  <node pkg="car_nodes"
        type="event_logger.py"
        name="event_logger"
        output="screen" />
</launch>
